*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  color: #8000ff;
  background-color: rgba(255, 255, 255, 0.99); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  line-height: 1.6; }

.header {
  position: relative;
  background-color: #8000ff;
  height: 85vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.hero-box {
  max-width: 114rem;
  width: 100%;
  height: 100%;
  padding: 5rem; }

.button-box {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.skills-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem; }

.section-project {
  width: 100%;
  height: 1000px; }

.text-box {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }

.heading-primary {
  font-size: 3.6rem;
  font-family: 'Montserrat'; }
  .heading-primary--name {
    text-transform: uppercase;
    font-weight: 500; }
  .heading-primary--icon {
    filter: drop-shadow(0 0 1rem #f0eeee);
    font-size: 3rem; }

.heading-secondary {
  font-size: 2.1rem;
  font-weight: 300;
  display: flex;
  justify-content: center; }

.vivid {
  filter: drop-shadow(0 0 1rem #f0eeee);
  font-weight: 700;
  margin-right: .1rem; }

.heading-quaternary {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  word-spacing: 1.8px;
  margin-bottom: 1rem;
  color: #f6f5ff; }

@keyframes Spin {
  from {
    transform: rotate(0deg);
    opacity: 1; }
  to {
    transform: rotate(360deg);
    opacity: 1; } }

@keyframes MoveInRight {
  from {
    left: -5%;
    transform: translateX(0);
    opacity: 1;
    filter: drop-shadow(-15px 5px 5px #010101); }
  70% {
    filter: drop-shadow(10px -5px 5px #010101); }
  to {
    left: 105%;
    transform: translateX(-100%);
    opacity: 1;
    filter: drop-shadow(10px -5px 5px #010101); } }

@keyframes Shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }

.button {
  display: flex;
  flex-direction: row;
  width: auto;
  margin-top: 3rem; }

.btn {
  display: block;
  text-decoration: none;
  color: #f6f5ff;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: .5px;
  word-spacing: 1.5px;
  background-color: rgba(246, 245, 255, 0.1875);
  border-radius: .75rem;
  padding: 1.2rem 2rem; }
  .btn:not(:last-child) {
    margin-right: 1.2rem; }
  .btn p {
    display: flex;
    flex-direction: row nowrap;
    align-items: baseline; }

.color {
  width: 20px;
  height: 20px;
  align-self: center; }

.skills {
  width: 50%; }
  .skills__icon {
    list-style: none;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem; }
    .skills__icon i {
      font-size: 400%; }

.content {
  position: relative; }

.content:before,
.content:after {
  position: absolute;
  width: 50px;
  height: 25px;
  border-color: white;
  border-style: solid;
  content: ' '; }

.content:before {
  top: 10px;
  left: 0;
  border-width: 1px 0 0 1px; }

.content:after {
  bottom: 10px;
  right: -5px;
  border-width: 0 1px 1px 0; }

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 3s;
  width: 50px;
  height: 50px;
  filter: drop-shadow(-10px 5px 5px #010101);
  animation: MoveInRight 8s linear .75s;
  opacity: 0; }
  .circle i {
    display: inline-block;
    font-size: 400%;
    animation: Spin 1s linear infinite .75s; }

.light-bulb {
  position: fixed;
  top: -1px;
  left: 50%;
  animation: Shake .8s linear .5s; }
  .light-bulb i {
    display: inline-block;
    font-size: 260%;
    transform: rotate(180deg);
    filter: drop-shadow(0 -5px 4px #f0eeee); }

.box {
  display: block;
  background-color: red;
  width: 100px;
  height: 100px; }
