/*
phone: 0px - 600px;
tab-port: 600px - 900px;
tab-land: 900px - 1200px;
current: 1200px - 1800px;
desktop-lg: 1800px;
*/
.u-mr-xs {
  margin-right: 0.5rem; }

.u-ml-xs {
  margin-left: 0.5rem; }

.u-mr-sm {
  margin-right: 1rem; }

.u-ml-sm {
  margin-left: 1rem; }

.u-mt-xs {
  margin-top: 1rem; }

.u-mb-xs {
  margin-bottom: 1rem; }

.u-mt-sm {
  margin-top: 2rem; }

.u-mb-sm {
  margin-bottom: 2rem; }

.u-mt-md {
  margin-top: 4rem; }

.u-mb-md {
  margin-bottom: 4rem; }

.u-mr-md {
  margin-right: 2rem; }

.u-ml-md {
  margin-left: 2rem; }

.u-mb-lg {
  margin-bottom: 6rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

:root {
  --color-primary: #8000ff;
  --color-primary-light: #a244ff;
  --color-primary-dark: #6f00dd;
  --color-secondary: rgba(246, 245, 255, 0.1875);
  --color-white: #fff;
  --color-dark-1: #475569;
  --color-light-1: #f6f5ff;
  --color-background-light: #f8fafc; }

::selection {
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.99); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--color-light-1);
  line-height: 1.6; }

.header {
  position: relative;
  background-color: var(--color-primary);
  min-height: 85vh;
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .header {
      min-height: 0; } }

.hero-box {
  padding: 5rem; }
  @media (max-width: 75em) {
    .hero-box {
      padding-top: 10rem; } }
  @media (max-width: 37.5em) {
    .hero-box {
      padding: 3rem;
      padding-top: 10rem; } }

.skills-box {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (max-width: 56.25em) {
    .skills-box {
      margin-top: 5rem; } }

.section-project {
  color: var(--color-dark-1);
  padding: 4rem 2rem;
  background-color: var(--color-background-light); }

.heading-primary {
  font-size: 3.6rem;
  font-family: "Montserrat"; }
  .heading-primary--name {
    text-transform: uppercase;
    font-weight: 500; }
  .heading-primary--icon {
    filter: drop-shadow(0 0 1rem #f0eeee);
    -webkit-filter: drop-shadow(0 0 1rem #f0eeee);
    font-size: 3rem; }

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 900;
  color: var(--color-primary);
  letter-spacing: 1.5px;
  margin-bottom: 0.5rem; }

.sub-heading {
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex; }
  .sub-heading--text {
    line-height: 1.4;
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity)); }

.sub-heading--image {
  width: 2.1rem;
  height: 2.1rem; }

.introduction {
  font-size: 2.1rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center; }
  @media (max-width: 37.5em) {
    .introduction {
      font-weight: 400; } }

.vivid {
  filter: drop-shadow(0 0 1rem #f0eeee);
  font-weight: 700;
  margin-right: 0.1rem; }

.heading-quaternary {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  word-spacing: 1.8px;
  margin-bottom: 1rem;
  color: #f6f5ff; }
  @media (max-width: 56.25em) {
    .heading-quaternary {
      text-align: center; } }

.heading-tertiary {
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 0.5px; }

@keyframes Spin {
  from {
    transform: rotate(0deg);
    opacity: 1; }
  to {
    transform: rotate(360deg);
    opacity: 1; } }

@keyframes MoveInRight {
  from {
    left: -5%;
    transform: translateX(0);
    opacity: 1;
    filter: drop-shadow(-15px 5px 5px #010101); }
  70% {
    filter: drop-shadow(10px -5px 5px #010101); }
  to {
    left: 105%;
    transform: translateX(-100%);
    opacity: 1;
    filter: drop-shadow(10px -5px 5px #010101); } }

@keyframes Shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }

.text-box {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.button {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media (max-width: 37.5em) {
    .button {
      flex-direction: column; } }

.btn {
  display: block;
  text-decoration: none;
  color: #f6f5ff;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
  background-color: var(--color-secondary);
  border-radius: 0.75rem;
  padding: 1.2rem 2rem; }
  @media (max-width: 56.25em) {
    .btn {
      font-size: 2rem;
      padding: 1.5rem 2.4rem; } }
  @media (max-width: 37.5em) {
    .btn {
      font-size: 2.2rem;
      border-radius: 1rem;
      padding-top: 1.6rem;
      padding-bottom: 1.6rem; } }
  .btn:not(:last-child) {
    margin-right: 1.2rem; }
    @media (max-width: 37.5em) {
      .btn:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.2rem; } }
  .btn span {
    display: flex;
    flex-direction: row nowrap;
    align-items: baseline; }
    @media (max-width: 37.5em) {
      .btn span {
        justify-content: center; } }

.color {
  width: 20px;
  height: 20px;
  align-self: center; }

.skills {
  width: 60%; }
  @media (max-width: 37.5em) {
    .skills {
      width: 100%; } }
  .skills__icon {
    list-style: none;
    padding: 3rem;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px; }
    @media (max-width: 56.25em) {
      .skills__icon {
        justify-items: center;
        padding: 1.5rem 0; } }
    .skills__icon i {
      font-size: 400%; }

.content {
  position: relative; }

.content:before,
.content:after {
  position: absolute;
  width: 50px;
  height: 25px;
  border-color: white;
  border-style: solid;
  content: " "; }
  @media (max-width: 56.25em) {
    .content:before,
    .content:after {
      display: none; } }

.content:before {
  top: 10px;
  left: 0;
  border-width: 1px 0 0 1px; }

.content:after {
  bottom: 10px;
  right: 25px;
  border-width: 0 1px 1px 0; }

.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 3s;
  width: 50px;
  height: 50px;
  filter: drop-shadow(-10px 5px 5px #010101);
  animation: MoveInRight 8s linear 0.75s;
  opacity: 0; }
  .circle i {
    display: inline-block;
    font-size: 400%;
    animation: Spin 1s linear infinite 0.75s; }

.light-bulb {
  position: fixed;
  top: -1px;
  left: 50%;
  animation: Shake 0.8s linear 0.5s;
  z-index: 999; }
  .light-bulb i {
    display: inline-block;
    font-size: 260%;
    transform: rotate(180deg);
    filter: drop-shadow(0 -5px 4px #f0eeee); }

.text-box-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2rem; }

.project {
  padding: 0 4rem;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(4, minmax(20%, 1fr));
  gap: 30px; }
  .project-box {
    background-color: var(--color-primary-dark);
    border-radius: 30px;
    text-decoration: none;
    padding: 2rem 2.3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); }
  .project-box:hover .project-aspect {
    opacity: 1; }
  .project-aspect {
    position: relative;
    height: 40%;
    transition: all 0.3s;
    opacity: 0.85; }
    .project-aspect::before {
      content: "";
      display: block;
      padding-bottom: 100%;
      width: 100%; }
    .project-aspect--inside {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: block; }
    .project-aspect--image {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 15px; }

.project-text--paragraph {
  font-size: 1.2rem;
  color: var(--color-light-1); }

.tag {
  display: grid;
  text-align: center;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; }
  .tag-box {
    letter-spacing: 0.3px;
    border: 1px solid var(--color-light-1);
    border-radius: 3px;
    background-color: #fff;
    padding: 0.3rem 0.6rem;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    filter: drop-shadow(0 0 0.2rem #fff);
    -webkit-filter: drop-shadow(0 0 0.2rem #fff); }

.man {
  width: 10%;
  position: absolute;
  bottom: 0;
  right: 0; }
