.button {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 3rem;

}

.btn {
    
    display: block;
    text-decoration: none;
    color: #f6f5ff;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: .5px;
    
    word-spacing: 1.5px;
    background-color:rgba(246,245,255, 0.1875);
    border-radius: .75rem;
    padding: 1.2rem 2rem;

    &:not(:last-child) {
        margin-right: 1.2rem;
    }
    
    p {
    
        display: flex;
        flex-direction: row nowrap;
        align-items: baseline;
    
    }
}

.color {
    width: 20px;
    height: 20px;
    align-self: center;
}

.skills {
    width: 50%;

    &__icon {
        list-style: none;
        display: flex;
        flex-direction: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 3rem;
      

        i {
            font-size: 400%;
        }

    }
}


.content {
    position: relative;
    
}

.content:before, 
.content:after
{
    position: absolute;
    width: 50px; 
    height: 25px;
    border-color: white; 
    border-style: solid;
    content: ' ';
}

.content:before {
    top: 10px;
    left: 0;
    border-width: 1px 0 0 1px;
}



.content:after {
    bottom: 10px;
    right: -5px;
    border-width: 0 1px 1px 0;
}

.circle {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 3s;
    width: 50px;
    height: 50px;
    filter: drop-shadow(-10px 5px 5px  hsl(0, 0%, .2));
    animation: MoveInRight 8s linear .75s;
    opacity: 0;
   
    
    i {
        display: inline-block;
        
        font-size: 400%;
        animation: Spin 1s linear infinite .75s;
    }
}


.light-bulb {
    position: fixed;
    top: -1px;
    left: 50%;
    animation: Shake .8s linear .5s;
 
    i {
        display: inline-block;
        font-size: 260%;
        transform: rotate(180deg);
        filter: drop-shadow(0 -5px 4px #f0eeee);
    }
}

.box {
    display: block;
    background-color: red;
    width: 100px;
    height: 100px;
}