.heading-primary {
  font-size: 3.6rem;

  font-family: "Montserrat";

  &--name {
    text-transform: uppercase;
    font-weight: 500;
  }

  &--icon {
    filter: drop-shadow(0 0 1rem #f0eeee);
    -webkit-filter: drop-shadow(0 0 1rem #f0eeee);
    font-size: 3rem;
  }
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-primary);
  letter-spacing: 1.225;
  word-spacing: 1.2px;
  margin-bottom: 0.1rem;
}

.sub-heading {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  display: flex;

  &--text {
    line-height: 1.4;
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
  }
}
.sub-heading--image {
  width: 2.1rem;
  height: 2.1rem;
}

.introduction {
  font-size: 2.1rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  justify-content: center;

  @include respond(phone) {
    font-weight: 400;
  }
}

.vivid {
  // font-style: italic;
  filter: drop-shadow(0 0 1rem #f0eeee);
  font-weight: 700;
  margin-right: 0.1rem;
}

.heading-quaternary {
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  word-spacing: 1.8px;
  margin-bottom: 1rem;
  color: #f6f5ff;

  @include respond(tab-port) {
    text-align: center;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  letter-spacing: 1.2px;
}
