.u-mr-xs {
  margin-right: 0.5rem;
}
.u-ml-xs {
  margin-left: 0.5rem;
}

.u-mr-sm {
  margin-right: 1rem;
}
.u-ml-sm {
  margin-left: 1rem;
}

.u-mt-xs {
  margin-top: 1rem;
}
.u-mb-xs {
  margin-bottom: 1rem;
}

.u-mt-sm {
  margin-top: 2rem;
}
.u-mb-sm {
  margin-bottom: 2rem;
}

.u-mt-md {
  margin-top: 4rem;
}
.u-mb-md {
  margin-bottom: 4rem;
}

.u-mr-md {
  margin-right: 2rem;
}
.u-ml-md {
  margin-left: 2rem;
}

.u-mb-lg {
  margin-bottom: 6rem;
}
