/*
COLORS:
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #8f12fd;
  color: #fff; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  max-width: 114rem;
  margin: 0 auto;
  padding: 8rem; }

body {
  font-size: 1.6rem;
  font-family: "Montserrat", "Lato", sans-serif;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 1.7;
  background-color: #282C34; }

.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: .1rem; }
  .heading-primary--first {
    background-image: linear-gradient(to right, #ff00b6, #8f12fd);
    -webkit-background-clip: text;
    color: transparent; }
    .heading-primary--first:hover {
      background-image: linear-gradient(to right, #8f12fd, #ff00b6); }
  .heading-primary--second {
    color: #fff; }

.heading-secondary {
  font-size: 2.7rem;
  color: #f4f2f2;
  font-weight: 500; }
  .heading-secondary span {
    display: inline-block;
    margin-right: 1.2rem;
    background-image: linear-gradient(to right, #ff00b6, #8f12fd);
    -webkit-background-clip: text;
    color: transparent; }

.personal-text {
  color: #f4f2f2; }

@keyframes OutIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.links {
  display: inline-block;
  text-decoration: none;
  color: #8f12fd;
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 1.4;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8f12fd;
  transition: color .2s; }
  .links__arrow {
    display: inline-block;
    transition: padding-left .2s; }
  .links:hover .links__arrow {
    padding-left: .4rem;
    font-size: 1.78rem; }
  .links:hover {
    color: #f4f2f2;
    border-bottom: 1px solid #f4f2f2; }

.header {
  height: 60vh;
  margin-top: 10rem; }

::after {
  content: "";
  display: table;
  clear: both; }

.navigation {
  position: relative; }
  .navigation__logo {
    position: absolute;
    top: 2rem;
    left: 0;
    float: left; }
  .navigation__list {
    float: right;
    list-style: none; }
  .navigation__item {
    display: inline-block;
    padding: 2rem 1rem; }
    .navigation__item:not(:last-child) {
      margin-right: 2rem; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #f4f2f2;
    font-size: 1.4rem;
    transition: all .2s; }
  .navigation__link:hover {
    color: #8f12fd; }
  .navigation__link span {
    display: inline-block;
    margin-right: 1rem;
    background-image: linear-gradient(to right bottom, #8f12fd, #ff00b6);
    -webkit-background-clip: text;
    color: transparent; }

.logo {
  height: 4rem; }

.section-about {
  margin-top: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row ::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0.4rem; }
  .row .col-1-of-2 {
    width: calc((100% - 0.4rem) / 2); }
  .row .col-1-of-3 {
    width: calc(( 100% - 0.4rem * 2 ) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 0.4rem * 3) / 4); }
  .row .col-2-of-3 {
    width: calc(100% - (( 100% - 0.4rem * 2 ) / 3) - 0.4rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 0.4rem * 3) / 4) + 0.4rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 0.4rem * 3) / 4) + 2 * 0.4rem); }

.about_image {
  width: 25rem;
  height: 25rem;
  background-image: url(/img/profile.png);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  position: relative;
  z-index: 3; }
  .about_image::before {
    content: "";
    display: inline-block;
    width: 25rem;
    height: 25rem;
    background-image: url(/img/profile.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    position: absolute;
    top: 10rem;
    right: 3rem;
    z-index: -1; }

.section-skills {
  padding: 10rem;
  max-width: 100%;
  margin: 0 auto; }
