* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

::selection {
    background-color: $color-purple;
    color: $color-white;
}

html {
    font-size: 62.5%;
    
}

body {
    box-sizing: border-box;
    max-width: $grid-width;
    margin: 0 auto;
    padding: 4rem;
}