
body {
    font-size: 1.6rem;
    font-family: "Montserrat", "Lato", sans-serif;
    font-weight: 400;
    
    color: #4a4a4a;
    line-height: 1.7;
    background-color: $color-grey-dark-3;
}

.heading-primary {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: .1rem;

    &--first {
        background-image: linear-gradient(to right, $color-pink, $color-purple);
        -webkit-background-clip: text;
        color: transparent;

        &:hover {
            background-image: linear-gradient(to right, $color-purple, $color-pink);
        }
    }

    &--second {
        color: $color-white;
    }
}

.heading-secondary {
    font-size: 2.7rem;
    color: $color-grey-light-2;
    font-weight: 500;
    

    span {
        display: inline-block;
        margin-right: 1.2rem;
        background-image: linear-gradient(to right, $color-pink, $color-purple);
        -webkit-background-clip: text;
        color: transparent;
    }
}

.heading-tertiary {
    font-size: 2.1rem;
    color: $color-grey-light-1;
    filter: drop-shadow(0 0 1rem $color-grey-light-3);

    &::selection {
        background-color: #ff7675;
     
    }

}

.heading-quaternary {
    font-size: 1.6rem;
    color: $color-grey-light-3;
}


.personal-text {
    color: $color-grey-light-2;
}

.about__text {
    
    color: $color-grey-light-4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8em;
    letter-spacing: 0.03em;
    text-align: justify;


    span {
        display: inline-block;
        color: $color-purple;
        filter: drop-shadow(0 0 3rem $color-purple)
    }
}

.contact__text {
    
    color: $color-grey-light-4;
    font-size: 1.7rem;
    font-weight: 300;
    
  
}