.contact {
    margin-left: 10rem;
    position: relative;

    &__list {
        list-style: none;
        padding-left: 5rem;
    }

    &__item {
        padding: 0.7rem;
        
    }

    &__link {
        display: inline-block;
        text-decoration: none;
        color: $color-grey-light-4;
        transition: all .3s ease-out;

        &:hover {
            color: $color-purple;
        }
    }

    &__icon {
        display: inline-block;
        font-size: 1.5rem;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    span {
        display: inline-block;
    }

    &__crystal {
        position: absolute;
        bottom: 0;
        right: 4rem;
    }

    img {
        height: 10rem;
        width: 10rem;
    }

}