.header {

    height: 60vh;
    margin-top: 10rem;
    }


.navigation {
    position: relative;

    &__logo {
        position: absolute;
        top: 2rem;
        left: 0;
        float: left;
        
    }
    
    

    &__list {
        display: block;
        float: right;
        list-style: none;
        
    }

    &__item {
        display: inline-block;
        padding: 2rem 1rem;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            color: $color-grey-light-2;
            font-size: 1.4rem;
            transition: all .2s;
            
        }

        &:hover {
            color: $color-purple;
        }

        span {
           display: inline-block;
            margin-right: 1rem;
            background: linear-gradient(to right bottom, $color-purple, $color-pink);
            -webkit-background-clip: text;
            color: transparent;
            
        }

    }
}
@include clearfix;


.logo {
    height: 4rem;
    transition: all .8s cubic-bezier(1,0,0,1);
    &:hover {
        transform: rotate(1turn);
    }
    
}



.hero-image {
  margin-top: -5rem;
  margin-right: 5rem;
  width: 100%;
     
  &__moon {
    display: inline-block;
    height: 45rem;
    width: 45rem;
    
    }
}