.header {

    height: 60vh;
    margin-top: 10rem;
    }

@include clearfix;
.navigation {
    position: relative;

    &__logo {
        position: absolute;
        top: 2rem;
        left: 0;
        float: left;
    }
    

    &__list {
        float: right;
        list-style: none;
        
    }

    &__item {
        display: inline-block;
        padding: 2rem 1rem;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    &__link {
        
        &:link,
        &:visited {
           display: inline-block;
            text-decoration: none;
            color: $color-grey-light-2;
            font-size: 1.4rem;
            transition: all .2s;
        }

        &:hover {
            color: $color-purple;
        }

        span {
            display: inline-block;
            margin-right: 1rem;
            background-image: linear-gradient(to right bottom, $color-purple, $color-pink);
            -webkit-background-clip: text;
            color: transparent;
        }

    }
}



.logo {
    height: 4rem;
    transition: all .8s cubic-bezier(1,0,0,1);
    &:hover {
        transform: rotate(1turn);
    }
}

.hero-image {
  margin-top: -3rem;
  margin-left: 3rem;
  

}

.moon {
   
    height: 50rem;
    width: 50rem;
    
}